/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial , sans-serif;
}
img {
    vertical-align: middle;
}

/* Nguyên tắc: 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Từ tổng quan đến chi tiết
 */

/*
    1. Vị trí
    2. Kích thước ((width. height)
    3. Màu sắc
    4. Kiểu dáng(Kiểu chữ, hình tròn, vuông,.. ) 
 */

.main{
    position: relative;
}
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.bg-white {
    background-color: white !important;
}

.pull-right {
    float: right !important;
}

.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.mb-8{
    margin-bottom: 8px;
}
.row {
    margin-left: -8px ;
    margin-right: -8px ;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}
.col-1 {
    width: 100%;
}
.col-2{
    width: 50%;
}
.col-3 {
    width: 33.33333%;
}

.btn{
    padding: 10.5px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}
/* Css Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    z-index: 1;
    background-color: #000;
}

.nav , .subnav {
    list-style-type: none;
}

.nav ,
.nav > li {
    display: inline-block;
}

.nav li {
    
    position: relative;
}

.nav > li > a {
    text-transform: uppercase;
    color: #fff;
}

.nav li a {
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
}

.nav > li:hover > a ,
.subnav > li:hover > a {
    color: #000;
    background-color: #ccc;
    
}
.nav li:hover .subnav {
    display: block;
}

.nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0 , 0 , 0.5) ;
}

.nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

.nav .nav-arrow-down {
    font-size: 14px;
}

.header .search-btn ,
.header .mobile-menu-btn {
    width: 62px;
    float: right;
    text-align: center;
}

.header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.header .header-search ,
.header .header-menu {
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}



.header .mobile-menu-btn:hover {
    background-color: #ccc;
} 

.header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
} 

.slider{
    position: relative;
    padding-top: 50%;
    top: 46px;
    background: url('/assets/img/slider/chicago.jpg')top center/ cover no-repeat;
}

.slider .text-content{
    position: absolute;
    width: 100%;
    bottom: 47px;
    color: #fff;
    text-align: center;
}

.slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    
}

.slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


.content{
  
}

.content .content-section {
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 64px 16px 112px;
}

.content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    
}
.content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 60%;

}

.content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
.content .members-list {
    padding-top: 32px;
    overflow: auto;
}

.content .member-name{
    font-size: 15px;
    margin: 15px 0;
}
.content .member-avata{
    margin-bottom:16px;
    width: 154px;
    border-radius: 4px;
}

/* Tour Section */
.tour-section{
    background-color: #000;
}

.tour-section .tickets-tour{
    margin-top: 40px;
}

.tour-section .tickets-tour li {
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;

}

.tour-section .sold-out{
    background-color:#f44336 ;
    color: #fff;
    padding: 3px 8px;
    margin-left: 20px;
}

.tour-section .quantity{
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    float: right;
    line-height: 24px;
    margin-top: -3px;
}

/* tickets -buy */
.tickets{
    margin-top: 16px;
}

.tickets .ticket-info{
    line-height: 22px;
    padding: 15px 16px ;
    font-size: 15px;

}
.tickets .ticket-place{
    font-size: 15px;
}
.tickets .ticket-time{
    color: #757575;
    font-size: 15px;
    padding: 15px 0;
}
.tickets .ticket-sub{
    font-size: 15px;
    padding: 15px 0;
}

/* Contact */
.contact{
    margin-top: 36px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact  i {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.form-control{
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    line-height: 22px;
}

.footer{
    background-color: (241, 241, 241);
    padding: 74px 16px;
    text-align: center;
}
.footer .socials-list a {
    color: rgba(0, 0 , 0 , 0.6);
    font-size: 24px;
}
.footer .copyright a:hover ,
.footer .socials-list a:hover{
    color: rgba(0, 0 , 0 , 0.4);
} 

.footer .copyright {
        font-size: 15px ;
        color: rgba(0, 0 , 0 , 0.6);
        margin: 15px 0;

}
.footer .copyright a{
    font-size: 15px ;
    color: rgba(0, 0 , 0 , 0.6);
    text-decoration:underline;
}